<!DOCTYPE HTML>
<html>
	<head>
		<title>React Demo 01</title> 
		<meta charset="utf-8" /> <!-- This tag is required or else babel gives regex error -->
		<script src="../../lib/react.development.js" type="text/javaScript"></script>		
		<script src="../../lib/react-dom.development.js"></script>
		<script src="../../lib/babel.min.js" type="text/javaScript"></script>
	</head>
	<body>
		<h1>React DEMO 01</h1>
		<div id="example"></div>

		<script type="text/babel">
			ReactDOM.render(<h1>Hello, World</h1>,document.getElementById("example"));
		</script>
	</body>
</html>